footer.py-4.bg-light.mt-auto
  div.container-fluid.px-4
    div.d-flex.align-items-center.justify-content-between.small
      div.text-muted Copyright &copy; Eli Serra 2022
      div 
        a(href="#") Privacy Policy
        | &middot;
        a(href="#") Terms &amp; Conditions