if messages
    if messages.error && messages.error.length > 0
      div(class='alert alert-danger' role="alert")
        each val in messages.error
          |  #{val}
          br
    else if messages.info && messages.info.length > 0
      div(class='alert alert-info' role="alert")
        each val in messages.info
          |  #{val}
          br
    else if messages.success && messages.success.length > 0
      div(class='alert alert-success' role="alert")
        each val in messages.success
          |  #{val}
          br