if page.messages
    if page.messages.error && page.messages.error.length > 0
      div(class='alert alert-danger' role="alert")
        each val in page.messages.error
          |  #{val}
          br
    else if page.messages.info && page.messages.info.length > 0
      div(class='alert alert-info' role="alert")
        each val in page.messages.info
          |  #{val}
          br
    else if page.messages.success && page.messages.success.length > 0
      div(class='alert alert-success' role="alert")
        each val in page.messages.success
          |  #{val}
          br