div#layoutSidenav_nav
  nav(class='sb-sidenav accordion sb-sidenav-dark', id='sidenavAccordion' )
    div.sb-sidenav-menu
      div.nav
        block MainMenuNav
          div.sb-sidenav-menu-heading Home
          a(class='nav-link' href='/') 
            div.sb-nav-link-icon
              i(class='fas fa-tachometer-alt')
            | Dashboard
          if isAuthenticated
            div.sb-sidenav-menu-heading User
            a(class='nav-link' href='/profile') 
              div.sb-nav-link-icon
                i(class='fas fa-user')
              | Profile
            a(class='nav-link collapsed' href='#' data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts")
              div.sb-nav-link-icon
                i(class='fas fa-columns')
              | Edit
              div.sb-sidenav-collapse-arrow
                i(class='fas fa-angle-down')
            div(class='collapse'  id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion")
              nav.sb-sidenav-menu-nested.nav
                a(class='nav-link' href='/user/edit-profile') Edit Profile
                a(class='nav-link' href='/user/edit-avatar') Edit Avatar
                a(class='nav-link' href='/user/edit-password') Change Password
          

    div.sb-sidenav-footer
      block userAnounce
        if isAuthenticated
          div.small Logged in as:
          | #{user.name}
        else 
          a(href="/login" class='link-light')
            | Login