nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a(class='navbar-brand ps-3', href='/').text Home
  button(class='btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0', id='sidebarToggle', href='#!')
    i.fas.fa-bars
  form(class='d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0')
    div.input-group
      input(class='form-control', type='text', placeholder='Search for...', aria-label='Search for...', aria-describedby='btnNavbarSearch')
      button(class='btn btn-primary', id='btnNavbarSearch', type='button')
        i.fas.fa-search
  ul(class='navbar-nav ms-auto ms-md-0 me-3 me-lg-4')
    li.nav-item.dropdown
      a(class='nav-link dropdown-toggle', id='navbarDropdown', href='#', role='button', data-bs-toggle="dropdown", aria-expanded="false")
        if isAuthenticated && user && user.photo
          img(src=user.photo class="profile-icon" alt="..." width="20" height="20")
        else
          i.fas.fa-user.fa-fw
      include user-menu.pug