ul(class='dropdown-menu dropdown-menu-end', aria-labelledby="navbarDropdown")
  if isAuthenticated
    li 
      a(class='dropdown-item' href="/profile") Profile
    li 
      a(class='dropdown-item' href="/user/edit-profile") Edit Profile
    li 
      a(class='dropdown-item' href="/user/edit-avatar") Edit Avatar
    li 
      a(class='dropdown-item' href="/user/edit-password") Change Password
    li 
      a(class='dropdown-item' href="/logout") Logout
  else
    li 
      a(class='dropdown-item' href="/login") Login
    li 
      a(class='dropdown-item' href="/register") Register