extends base-login.pug

block headTitle
  title Login

block headMeta
  meta(name='description', content='Login page')
  meta(name='author', content='Eli Serra')

block pageContent
  div#layoutAuthentication
    div#layoutAuthentication_content
      main 
        div.container
          div.row.justify-content-center
            div.col-lg-5
              div.card.shadow-lg.border-0.rounded-lg.mt-5
                div.card-header
                  h3.text-center.font-weight-light.my-4 MyApp
                div.card-body
                  form(action='/forgot-password' method='post')
                    div.form-floating.mb-3
                      input(class="form-control" id="inputEmail" name="inputEmail" type="email" placeholder="name@example.com")
                      label(for="inputEmail") Email address
                    div.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                      button(class="btn btn-primary" role="button" type="submit") Get my password
                div.card-footer.text-center.py-3
                  div.small
                    a(href="register.html") Need an account? Sign up!
    div#layoutAuthentication_footer
      include ../parts/footer.pug




