extends base-login.pug

block headTitle
  title Login

block headMeta
  meta(name='description', content='Login page')
  meta(name='author', content='Eli Serra')

block pageContent
  div#layoutAuthentication
    div#layoutAuthentication_content
      main 
        div.container
          div.row.justify-content-center
            div.col-lg-5
              div.card.shadow-lg.border-0.rounded-lg.mt-5
                div.card-header
                  h3.text-center.font-weight-light.my-4 MyApp
                div.card-body
                  block messageAlert
                    include ../parts/message.pug
                  form(action='/login' method='post')
                    if showSocialAuth && (showSocialAuth.google || showSocialAuth.github)
                      div.container-fluid.px-4
                        div.text-center.py-3
                          h3 Log in to your account
                        div.text-center.py-3
                          div(class="btn-group mx-auto" role="group" aria-label="Vertical button group")
                            if showSocialAuth.google == 'true'
                              a(type="button" class="btn btn-outline-dark text-center" href="/login/google")
                                div.d-flex.flex-row.align-items-center.justify-content-between.mt-0.mb-0
                                  div.p-2
                                    i.fa-brands.fa-google
                                  div.p-2
                                    |
                                    |  Google
                            if showSocialAuth.github == 'true'
                              a(type="button" role="button" class="btn btn-outline-dark" href="/login/github")
                                div.d-flex.flex-row.align-items-center.justify-content-between.mt-0.mb-0
                                  div.p-2
                                    i.fa-brands.fa-github
                                  div.p-2
                                    |
                                    |  Github
                      hr
                    div.form-floating.mb-3
                      input(class="form-control" id="username" name="username" type="text" placeholder="name@example.com")
                      label(for="username") Login
                    div.form-floating.mb-3
                      input(class="form-control" id="password" name="password" type="password" placeholder="Password")
                      label(for="password") Password
                    div.form-check.mb-3
                      input(class="form-check-input" id="inputRememberPassword" name="inputRememberPassword" type="checkbox" value="")
                      label(class="form-check-label" for="inputRememberPassword") Remember Password
                    div.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                      a(class="small" href="/forgot-password") Forgot Password?
                      button(class="btn btn-primary" role="button" type="submit") Login
                div.card-footer.text-center.py-3
                  div.small
                    a(href="/register") Need an account? Sign up!
    div#layoutAuthentication_footer
      include ../parts/footer.pug




