extends base-login.pug

block headTitle
  title Login

block headMeta
  meta(name='description', content='Login page')
  meta(name='author', content='Eli Serra')

block pageContent
  div#layoutAuthentication
    div#layoutAuthentication_content
      main 
        div.container
          div.row.justify-content-center
            div.col-lg-5
              div.card.shadow-lg.border-0.rounded-lg.mt-5
                div.card-header
                  h3.text-center.font-weight-light.my-4 MyApp
                div.card-body
                  block messageAlert
                    include ../parts/message.pug
                  form(action='/login' method='post')
                    - var title_social_auth = "Log in to your account"
                    include social-auth.pug
                    if errors 
                      - var errorTmp = false
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.username ? errors.username : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="username" name="username" type="text" placeholder="username" value= form && form.username ? form.username : '' required)
                      label(for="user_name") username
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.password ? errors.password : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="password" name="password" type="password" placeholder="Password" value= form && form.password ? form.password : '' required)
                      label(for="password") Password
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-check.mb-3
                      input(class="form-check-input" id="inputRememberPassword" name="inputRememberPassword" type="checkbox" value="")
                      label(class="form-check-label" for="inputRememberPassword") Remember Password
                    div.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                      a(class="small" href="/forgot-password") Forgot Password?
                      button(class="btn btn-primary" role="button" type="submit") Login
                div.card-footer.text-center.py-3
                  div.small
                    a(href="/register") Need an account? Sign up!
    div#layoutAuthentication_footer
      include ../parts/footer.pug




